@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar */
.navbar {
  position: sticky;
  z-index: 40;
  top: 23px;
}
.shadow-box {
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.4);
}

/*  */

.property::before {
  content: "";
  position: absolute;
  top: 162px;
  left: -1px;
  background: transparent;
  width: 25px;
  height: 25px;
  z-index: 10;
  border-bottom-left-radius: 21px;
  box-shadow: -13px 12px rgb(31 41 55);
}

.property1::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 73px;
  background: transparent;
  width: 26px;
  height: 26px;
  z-index: 10;
  border-bottom-left-radius: 20px;
  box-shadow: -13px 9px rgb(31 41 55);
}

.decorationLogo::before {
  content: "";
  position: absolute;
  background-color: rgb(251 146 60);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: -10;
}
.decorationLogo::after {
  content: "";
  position: absolute;
  background-color: rgb(251 146 60);
  width: 20px;
  height: 20px;
  border-radius: 20px;
  z-index: -10;
  bottom: 9px;
  right: 9px;
}

/* .bg-project {
  background-image: url("../../public/property-1.png");
  background-repeat: no-repeat;
} */

/* bg di ganti menggunakan icon asli bukan img */

.btnSeeAll:hover {
  background-color: rgb(31 41 55);
  padding: 7px 24px;
}

.card:hover {
  opacity: 0.9;
}

.card:hover .btnArrow {
  background-color: #ff9800;
  color: #fff;
  border: none;
  transform: rotate(-50deg);
  animation: ease-in-out;
  animation-duration: 3s;
}

.btnArrow:hover .arrow-icon {
  color: #fff;
  cursor: pointer;
}

.card-bg:hover .bg-button,
.card-bg:hover {
  background-color: #ff9800;
}

.card-bg:hover .bg-button {
  transform: rotate(-50deg);
  animation: ease-in-out;
  animation-duration: 3s;
}

/* infinite marquee */

.marquee__part {
  flex-shrink: 0;
  padding: 1px 4px;
}

.marquee {
  background: #ff9800;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
}

.marquee__inner {
  transform: rotate(-1.2deg);
  -webkit-font-smoothing: antialiased;
}

ul,
li {
  cursor: pointer;
}

.active {
  border-radius: 30px;
  background-color: #ff9800;
  font-weight: 600;
}
